/* @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Tilt+Prism&display=swap');

body {
  margin: 0;
  font-family: Dancing Script, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: #124323 ;  
  color:#fff
}


